#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;

        label = "rgb_encoder";
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
        label = "scroll_encoder";
    };

    combos {
        compatible = "zmk,combos";

        JK_COMBO {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <24 23>;
            layers = <0>;
        };

        KL_COMBO {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <24 25>;
            layers = <0>;
        };

        UI_COMBO {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <8 9>;
            layers = <0>;
        };

        IO_COMBO {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <9 10>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC    &kp Q             &kp W  &kp E             &kp R        &kp T                               &kp UP                &kp Y        &kp U         &kp I          &kp O    &kp P     &kp EQUAL
&kp TAB    &mt LEFT_SHIFT A  &kp S  &kp D             &kp F        &kp G                     &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J         &kp K          &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z             &kp X  &kp C             &kp V        &kp B       &kp K_MUTE              &kp DOWN              &kp N        &kp M         &kp COMMA      &kp DOT  &kp FSLH  &kp BACKSLASH
                                    &kp LEFT_COMMAND  &lt 1 SPACE  &lt 2 BSPC                                                &lt 3 ENTER  &lt 4 DELETE  &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            label = "QWERTY";
        };

        one_layer {
            display-name = "ONE";
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                            &mmv MOVE_UP                     &kp N6    &kp N7    &kp N8  &kp N9     &kp N0    &trans
&trans  &trans  &trans  &trans  &trans  &trans            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp HOME  &kp PG_UP
&trans  &trans  &trans  &trans  &trans  &trans  &trans                    &mmv MOVE_DOWN                   &trans    &trans    &trans  &trans     &kp END   &kp PG_DN
                        &trans  &trans  &trans                                                             &trans    &trans    &trans
            >;

            label = "ONE";
        };

        two_layer {
            display-name = "TWO";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                    &trans          &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &kp PRINTSCREEN
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans  &trans  &trans  &trans   &trans   &kp PAUSE_BREAK
                        &trans  &trans  &trans                                    &trans  &trans  &trans
            >;

            label = "TWO";
        };

        three_layer {
            display-name = "THREE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                                    &trans  &trans  &trans
            >;

            label = "THREE";
            sensor-bindings = <&scroll_encoder>;
        };

        four_layer {
            display-name = "FOUR";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                            &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &bt BT_CLR_ALL            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                                            &trans  &trans  &trans
            >;

            label = "FOUR";
        };
    };
};
